<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>61778587489-dq42c8eb8amvbvdum7kok5lalmus4t0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61778587489-dq42c8eb8amvbvdum7kok5lalmus4t0b</string>
	<key>API_KEY</key>
	<string>AIzaSyAiha3G6oh8AEWE7VZB5KrUixVLvMzf3CY</string>
	<key>GCM_SENDER_ID</key>
	<string>61778587489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ligulfzhou.IOSgrpc</string>
	<key>PROJECT_ID</key>
	<string>freevpn-dc5b9</string>
	<key>STORAGE_BUCKET</key>
	<string>freevpn-dc5b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61778587489:ios:f82f94298fe115f4</string>
	<key>DATABASE_URL</key>
	<string>https://freevpn-dc5b9.firebaseio.com</string>
</dict>
</plist>